pipeline/LoadCustomerDim.json
{
	"name": "LoadCustomerDim",
	"properties": {
		"activities": [
			{
				"name": "Get MetadataFilesMetaData",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CustomerDataRaw",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "iterateListedFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get MetadataFilesMetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get MetadataFilesMetaData').output.childItems",
						"type": "Expression"
					},
					"isSequential": true
				}
			}
		],
		"variables": {
			"EachFile": {
				"type": "String"
			}
		},
		"annotations": []
	}
}